body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-family: 'DM Sans', sans-serif;
}
header {
  height: 75vh;
}
#header-responsive{
display: flex;
flex-direction: row;
justify-content: space-between;
align-content: center;
margin: 5vh 10vw;
}
#logo img{
  width: 40px;
  position: absolute;
  filter: grayscale(100%) brightness(1000%) hue-rotate(180deg);
  -webkit-animation: rotate-center 09s ease-in-out both;
  animation: rotate-center 0.6s ease-in-out both;
}
/* animista für logo */
@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
#menu-button {
  background-color: rgb(255, 255, 255);
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  z-index: 1;
} 

/* burger */
.line1,
.line2{
  width: 15.5px;
  height: 1px;
  background-color: rgb(0, 0, 0);
  margin: 5px 5px;
}
/* brands, mission,careers,contact */
#menu-list {
  list-style: none;
  position: relative;
  line-height: 2.5;
  z-index: 1;
  display: none;
}
#menu-list li {
  text-align: center;
}
#menu-list a {
  text-decoration: none;
  color: white;
}
#menu-list a.active {
    color: yellow;
}
#menu-list a:hover {
  text-shadow: 0 0 5px #FFF, 0 0 5px #FFF, 0 0 5px #FFFAFA, 0 0 5px #FFFAFA;
  }
/* HERO */
#video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  object-fit: cover;
}
.hero-text {
  position: relative;
  z-index: 1;
  color: white;
  margin: 10vh 20%;
  text-align: center;
  font-family: 'DM Sans', sans-serif;
  line-height: 1.4;
  font-size: large;
  font-weight:100;
}
/* Media Query für das Responsive Design */
@media screen and (min-width: 768px) {
  #menu-button {
      display: none;
  }
  #logo1 img{
    width: 70px;
    bottom: 1.5rem;
  }
  #logo {
    display: flex;
    flex-direction: row;
    gap: 38%;
    bottom: 0;
  }
  #logo h3{
display: flex;
flex-direction: column;
width: 30%;
font-family: 'DM Sans', sans-serif;
color: white;
margin: 0 0 -1.5rem 0;
  }
  #header-responsive2 {
    display: flex;
    align-content:end;
    align-items: end;
    justify-content: space-between;
    border-bottom:1px rgb(255, 255, 255, 0.15) solid;
    z-index: 1;
    position: relative;
    height: 15vh;
  }
  #menu-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 50vw;
  
  }
  .hero-text {
    font-size: x-large;
  }
}
#icon-arrow {
  text-align: center;
  margin-top: 15vh;
  opacity: 0.5;
}
/* für alle PAGES */
.page {
  height: 100vh;
  text-align: center;
  color:rgb(0, 0, 0, 0.6)
}
/* HOME */
/* BRANDS */
/* MISSION */
.hero-mission img{
height: 80vh;
width: 100%;
object-fit: cover;

}
aside {
  padding: 1rem;
}
aside ul li {
list-style: none;
padding: 0.5rem;
}
aside ul li:nth-of-type(1),
aside ul li:nth-of-type(3),
aside ul li:nth-of-type(5) {
  font-weight: 900;
  font-size: xx-large;
}

.text {
  padding: 10%;
  line-height: 1.5;
}
.text h3 {
  font-size: xx-large;
}

/* CAREERS */
/* CONTACT */

/* FOOTER */
footer {
bottom: -42rem;
padding: 5rem;
background-color: pink;
color: red;
height: 100%;
z-index: 1;
position: relative;
}